@media screen and (min-width:992px){
	.daohang{
		display: none;
	}
	.rea{
		display: none;
	}
	.fot3{
		display: none;
	}
}



@media screen and (min-width: 768px) and (max-width: 991px) {
	.hetop{
		display: none;
	}
	.daohang{
		display: block;
		background-color: #41484D;
	}
	.tpto{
		height: 100px;
		box-shadow: 0 5px 15px 0 #bcbcbc;
	}
	.tpto>ul{
		display: none!important;
	}
	.rea{
		display: none;
	}
	
	.fot3{
		display: block;
	}
	.fot1{
		display: none;
	}
	.fot2{
		display: none;
	}
	.zeleft{
		margin-left: 0;
	}
}




@media screen and (max-width: 767px) {
	.hetop{
		display: none;
	}
	.tpto{
		height: 100px;
	}
	.tpto>ul{
		display: none!important;
	}
	
	.fot3{
		display: block;
	}
	.fot1{
		display: none;
	}
	.fot2{
		display: none;
	}
	.zeleft{
		margin-left: 0;
	}
}