<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/zhaoshang.css">
	<link rel="stylesheet" href="stylesheets/zhaoshangmedia.css">

    <title>关于我们</title>
  </head>
  <body>
	  <div class="container-fluid">
		  <div class="row hetop">
			  <div class="col-9">
				  <div class="row">
					  <!-- <div class="col-1"></div> -->
					  <div class="col-2 ltfont"><img src="images/guanyu/电话.png" alt="">0760-86521111</div>
					  <div class="col-3 ltfont"><img src="images/guanyu/邮箱.png" alt=""> info@les100ciels.com.cn</div>
					  <div class="col-3 ltfont"><img src="images/guanyu/时钟.png" alt="">人工服务时间：9:00~18:00</div>
					  <div class="col-2 ltfont"><img src="images/guanyu/蜡烛.png" alt="">秋冬上新 - 全场包邮</div>
					  <div class="col-2 ltfont">欢迎来到 les100ciels 乐颂</div>
				  </div>
			  </div>
			  <div class="col-3">
				  <div class="row">
					  <div class="col-8 rifont"></div>
					  <div class="col-2 rifont"><img src="images/guanyu/登录用户名.png" alt="">登录</div>
					  <div class="col-2 rifont"><img src="images/guanyu/进入.png" alt="">注册</div>
				  </div>
			  </div>
		  </div>
		  
		  <!-- 导航栏 -->
		 <div class="row">
			  <div class="col-12 daohang">
				  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				    <a class="navbar-brand" href="#">关于我们</a>
				    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				      <span class="navbar-toggler-icon"></span>
				    </button>
				  
				    <div class="collapse navbar-collapse" id="navbarSupportedContent">
				      <ul class="navbar-nav mr-auto">
				        <li class="nav-item active">
				          <a class="nav-link" href="#">首页<span class="sr-only">(current)</span></a>
				        </li>
				        <li class="nav-item">
				          <a class="nav-link" href="#">关于我们</a>
				        </li>
				        <li class="nav-item">
				          <a class="nav-link" href="#">产品商城</a>
				        </li>
						<li class="nav-item">
						  <a class="nav-link" href="#">SS19画册</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="#">在线预约</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="#">招商加盟</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="#">实体店</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="#">购物车</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="#">EN</a>
						</li>
				      </ul>
				
				    </div>
				  </nav>
			  </div> 
		  </div>
		  
		  
		  
		  
		  <!-- 头部下面 -->
		  <div class="row tpto">
			  <ul>
			  	<li><img src="images/guanyu/家.png" alt="">首页</li>
			  	<li>关于我们</li>
			  	<li>产品商城</li>
			  	<li>SS19画册</li>
			  	<li>在线预约</li>
			  	<li>招商加盟</li>
			  	<li>实体店</li>
			  	<li><img src="images/guanyu/购物车满.png" alt="">购物车</li>
			  	<li>EN</li>
			  </ul>
			  <div class="rea">
				  <div class="rifont1"><img src="images/guanyu/登录用户.png" alt="">登录</div>
				  <div class="rifont2"><img src="images/guanyu/进入1.png" alt="">注册</div>
			  </div>
		  </div>
		  
		  <!-- 中间部分 -->
		  <div class="row zet1">
			  <div class="col-12">Alliance<br><p>招商加盟</p></div>
		  </div>
		  <div class="row zet2">
			  <div class="col-12">
				  <img d-block class="imgdox" src="images/zhaoshang/r1.png" alt="">
			  </div>
		  </div>
		  <div class="row zet3">
			  <div class="col-lg-5 col-md-12 col-sm-12 zeleft">
				  <p>请登记!</p><br>
				  请在右则仔细填写你的资料:
			  </div>
			  <div class="col-lg-6 col-md-12 col-sm-12 zeright">
				  <form action="">
					  <div class="zt1 zt">
						  联系人*<br><input type="text">
					  </div>
					  <div class="zt2 zt">
					  	  联系电话*<br><input type="text">
					  </div>
					  <div class="zt3 zt">
					  	  你的邮箱<br><input type="text">
					  </div>
					  <input type="submit" class="zt4">
				  </form>
				
			  </div>
		  </div>
		  <!-- 尾部部分 -->
		  <div class="row fot1">
			  <div class="col-3">100%正品好货</div>
			  <div class="col-3">客户认证好评</div>
			  <div class="col-3">超低价格享受</div>
			  <div class="col-3">七天退货保障</div>
		  </div>
		  
		 <div class="row fot2">
			 <div class="col-2">
				 <ul>
				 	<li>新手帮助</li>
				 	<li>如何注册</li>
				 	<li>门店认证</li>
				 </ul>
			 </div>
			 <div class="col-2">
				 <ul>
				 	<li>常见问题</li>
				 	<li>订单状态</li>
					<li>发票说明</li>
				 </ul>
			 </div>
			 <div class="col-2">
				 <ul>
				 	<li>支付方式</li>
				 	<li>在线支付</li>
				 </ul>
			 </div>
			 <div class="col-2">
				 <ul>
				 	<li>配送服务</li>
				 	<li>范围及运费</li>
				 </ul>
			 </div>
			 <div class="col-2">
				 <ul>
				 	<li>售后服务</li>
				 	<li>退换货政策</li>
				 	<li>退换货流程</li>
					<li>联系客服</li>
				 </ul>
			 </div>
			 <div class="col-2">
				 <ul>
				 	<li>服务热线</li>
				 	<li>邮箱：</li>
				 	<li>info@les100ciels</li>
				 	<li>微信：lesvip</li>
				 </ul>
			 </div>
		 </div>
		 
		 <div class="row fot3">
			  <div class="col-12">版权所有 (C) 2019 les 100 ciels 乐颂. 粤ICP备17024225号</div>
		 </div>
		  
		  
	  </div>
	  
	  


    <script src="bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="bootstrap/js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>

